header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #BBDEFB;

    height: 70px;
    box-shadow: 0px 0px 5px 0px #115d9b;
}

header button {
    width: 200px;
    height: 50px;
    margin-left: 20px;

    color: white;

    font-weight: 500;
    letter-spacing: 1px;
    border: none;
    border-radius: 10px;

    font-size: 20px;
    background-color: #2196F3;
    box-shadow: 0px 3px 2px 0px #115d9b, inset 0px 0px 0px 0px #115d9b;
    transition: 300ms;
}

button,
input {
    cursor: pointer;
}

header button:hover {
    transition: 200ms;
    box-shadow: 0px 5px 2px 0px #115d9b, inset 0px 0px 0px 0px #115d9b;
    transform: translateY(-2px);
}

header button:active:hover {
    transition: 50ms;
    background-color: #1a90ea;
    box-shadow: 0px 0px 0px 0px #115d9b, inset 0px 3px 2px 0px #115d9b;
    transform: translateY(3px);
}

#lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.element {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;

    width: 250px;
    background-color: rgb(57, 150, 226);
    box-shadow: 0px 3px 2px 0px #115d9b, inset 0px 0px 0px 0px #115d9b;
    transition: 300ms;
}

.element * {
    max-width: 90%;
    font-weight: 400;
    font-size: 14px;
}

.text {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    word-wrap: break-word;
}

.element button {
    width: 80px;
    height: 30px;
    margin-top: 10px;

    color: black;

    letter-spacing: 1px;
    border: none;
    border-radius: 8px;

    background-color: #8bc1ee;
    box-shadow: 0px 3px 1px 0px #115d9b, inset 0px 0px 0px 0px #115d9b;
    transition: 300ms;
}

.element button:hover {
    transition: 50ms;
    box-shadow: 0px 5px 1px 0px #115d9b, inset 0px 0px 0px 0px #115d9b;
    transform: translateY(-2px);
}

.element button:active:hover {
    transition: 50ms;
    background-color: #9ccdf5;
    box-shadow: 0px 0px 0px 0px #115d9b, inset 0px 3px 1px 0px #115d9b;
    transform: translateY(3px);
}

img {
    max-width: 150px;
    max-height: 200px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 0px #115d9b;
    transition: 300ms;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
}